{% if inventory_hostname == mysql_backup_host %}
55 23 * * *  backup  rm -rf /home/backup/mysql/*; mysqldump agama > /home/backup/mysql/agama.sql
56 23 * * 6  backup  duplicity --no-encryption full /home/backup/mysql/ rsync://EphemeralShine@backup/mysql
56 23 * * 0-5  backup  duplicity --no-encryption incremental /home/backup/mysql/ rsync://EphemeralShine@backup/mysql
{% endif %}
