server {
	listen 8080 default_server;
	location = /stub_status {
       stub_status;
	}
}

server {
	listen 80 default_server;
	root /var/www/html;
	index index.html index.htm index.nginx-debian.html;
	server_name _;

	location / {
#		uwsgi_pass localhost:{{ agama_containers[0].port }};
#		include uwsgi_params;
        proxy_pass http://localhost:{{ agama_containers[0].port }};
		proxy_set_header Host $http_host;
	}
    {% if inventory_hostname in groups['prometheus'] %}
		location /prometheus {
		proxy_pass http://localhost:9090;
	}
	{% endif %}
	{% if inventory_hostname in groups['grafana'] %} 
	    location /grafana { 
		proxy_set_header Host $http_host; 
		proxy_pass http://localhost:{{ grafana_port }}; 
	} 
	{% endif %}
}
