
acl dne {
	{%- for n in dns_access -%}
    {{ n }};
    {%- endfor -%}
};
options {
	directory "/var/cache/bind";

	forwarders {
      {% for n in dns_forwarders %}
      {{ n }};
      {% endfor %}
	};

    allow-query { dne; };
	dnssec-validation no;
};
statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
key "transfer.key" {
	algorithm hmac-sha256;
	secret "{{ bind_transfer_key }}";
};
key "nsupdate.key" {
	algorithm hmac-sha256;
	secret "{{ bind_nsupdate_key }}";
};
