database_url=http://influxdb:8086
database_name=latency
targets=github.com,itcollege.ee,{%- for vm in groups['all'] if vm not in groups['pinger'] -%}{{ vm }}{%- if not loop.last -%},{%- endif -%}{%- endfor -%}
